# Настройка места хранения docker-compose
COMPOSE_FILE=infra/docker-compose.yml

# URL до маршрутов API, без слэша в конце
API_BASE_URL= # http://common_url.com:8000/api/v1

# Настройка бота
BOT_TOKEN=
BOT_HOST=0.0.0.0
BOT_PORT=8080

# Настройки вебхуков
WEBHOOK_HOST=
WEBHOOK_PATH=/webhook
WEBHOOK_SECRET= # генерируется через 'make get_key' или 'python3 ./src/bot/core/utils/secret_key_generator.py'
